@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
}


  @media(max-width: 1080px){
    html{
      font-size: 93.75%; //16px * 0.9375 = 15px
    }
  }
  
  @media(max-width: 720px){
    html{
      font-size: 87.5%; //14px
    }
  }


main{
  background-image: url('assets/background.svg');
  height: 100vh;
}

header{
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
  max-width: 100%;
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 2rem;
}

.navigating{
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding: 0 1rem;
}

.link{
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
}

.download{
  width: 11.25rem;
  height: 100%;
  background-color: #FFFF00;

  display: flex;
  align-items: center;
  justify-content: center;
}

.download a{
  font-size: 2rem;
  font-weight: 600;
  color: #363636;
}

.logo{
  width: 8.75rem;
  height: 46px;
}

.translate{
  width: 2rem;
  height: 2rem;
}

.container{
  max-width: 1580px;
  margin: 15.625rem auto 0;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: start;
}

section{
  width: 720px;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  gap: 1rem;
}

.title{
  font-size: 4rem;
  color: #363636;
}

.description{
  font-size: 1.5rem;
  color: #363636;
}

.btn{
  width: 13.75rem;
  height: 4rem;

  font-size: 1.5rem;
  font-weight: 600;
  background: #EFEAE2;
  color: #363636;
  border: none;
  border-radius: 1rem;
  cursor:pointer;
}

.btn:hover{
    background: rgba(239, 234, 223, 0.9);
}

.container-slide{
  max-width: 580px;
  height: 320px;
  overflow: hidden;
}

.slide{
  width: 400%;
  height: 320px;
  display: flex;
}

.slide input{
  display: none;
}

.slide-card{
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img{
  width: 580px;
}

.manual-navigation{
  position: absolute;
  width: 580px;
  margin-top: -1.5625rem;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 0.125rem solid #FFF;
  padding: 0.3125rem;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child){
  margin-right: 2.5rem;
}

.manual-btn:hover{
  background-color: #EFEAE2;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.navegation-auto div{
  border: 0.125rem solid #EFEAE2;
  padding: 0.3125rem;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 1s;
}

.navegation-auto div:not(:last-child){
  margin-right: 2.5rem;
}

.navegation-auto{
  position: absolute;
  width: 580px;
  margin-top: 18.4375rem;
  display: flex;
  justify-content: center;
}

#radio1:checked ~ .navegation-auto .auto-btn1{
  background-color: #EFEAE2;
}
#radio2:checked ~ .navegation-auto .auto-btn2{
  background-color: #EFEAE2;
}
#radio3:checked ~ .navegation-auto .auto-btn3{
  background-color: #EFEAE2;
}
#radio4:checked ~ .navegation-auto .auto-btn4{
  background-color: #EFEAE2;
}

.span{
  position: absolute;
  width: 15rem;
  height: 4rem;
  border-radius: 0.5rem;
  color: #EFEAE2;
  background: #3C3537;
  margin: -19.375rem 0 0 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.4);
}

footer{
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('assets/footer.svg');
  height: 400px;
}

.container-footer{
  max-width: 1580px;
  margin: 0 auto;
  padding: 7.5rem 0.125rem 0;

  display: flex;
  justify-content: space-between;
}

.logo-container{
  max-width: 620px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.375rem;
  padding: 0 1rem;
}

.logo-mihoyo{
  width: 9.375rem;
  height: 54px;
}

span{
  font-size: 3.375rem;
  font-weight: 400;
  color: #EFEAE2;
}

.copyright{
  width: 32.5rem;
}

h2{
  font-size: 1.125rem;
  font-weight: 600;
  color: #EFEAE2;
}

.description-footer{
  font-size: 0.875rem;
  font-weight: 400;
  color: #EFEAE2;
}

.term{
  max-width: 420px;
  margin: 0 auto;
  padding-top: 5.375rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav-term{
  color: #FFFFFF;
  font-size: 0.75rem;
  font-weight: 400;
}

@media(max-width: 1380px){
  section{
    width: 540px;
  }
  
  .title{
    font-size: 3rem;
  }
  
  .description{
    font-size: 1.2rem;
  }
  
  .btn{
    width: 10rem;
    font-size: 1.2rem;
  }
}

@media(max-width: 1190px){
  .container-slide{
    max-width: 420px;
  }
  
  .slide img{
    width: 420px;
  }
  
  .manual-navigation{
    width: 420px;
    margin-top: -6.875rem;
  }
  
  .navegation-auto{
    width: 420px;
    margin-top: 13.125rem;
  }
}

@media(max-width: 1080px){
  .navegation-auto{
    margin-top: 14.43rem;
  }

  .logo-container{
    gap: 0.5rem;
  }

  .copyright{
    width: 24rem;
  }
}

@media(max-width: 860px){
  .navigating{
    gap: 2rem;
  }

  .download{
    width: 8rem;
  }

  .download a{
    font-size: 1rem;
  }
}

@media(max-width: 720px){
  .container-slide{
    max-width: 360px;
  }
  
  .slide img{
    width: 360px;
  }
  
  .manual-navigation{
    width: 360px;
    margin-top: -9.7rem;
  }
  
  .navegation-auto{
    width: 360px;
    margin-top: 13.125rem;
  }
}