@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
}

main{
  background-image: url('assets/background.svg');
  height: 100vh;
}

header{
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
  max-width: 100%;
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
}

.navigating{
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding: 0 1rem;
}

.link{
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
}

.btn-none{
  background-color: Transparent;
  border: none;
  cursor:pointer;
}

.logo{
  width: 8.75rem;
  height: 46px;
}

.translate{
  width: 2rem;
  height: 2rem;
}

.container{
  max-width: 1580px;
  margin: 15.625rem auto 0;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: start;
}

section{
  width: 680px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title{
  font-size: 4rem;
  color: #363636;
}

.description{
  font-size: 1.5rem;
  color: #363636;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container-cicle{
  width: 200px;
  display: flex;
  gap: 40px;
}

.cicle{
  border: 2px solid #EFEAE2;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.updates{
  display: flex;
  align-items: center;
}

.card{
  width: 36.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.25rem 0.0625rem rgba(0, 0, 0, 0.8);
  position: relative;
}

.span{
  position: absolute;
  width: 15rem;
  height: 4rem;
  border-radius: 8px;
  color: #EFEAE2;
  background: #3C3537;
  margin: -19.375rem 0 0 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.4);
}

.btn{
  width: 13.75rem;
  height: 4rem;

  font-size: 1.5rem;
  font-weight: 600;
  background: #EFEAE2;
  color: #363636;
  border: none;
  border-radius: 1rem;
  cursor:pointer;
}

.btn:hover{
    background: rgba(239, 234, 223, 0.9);
}

footer{
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('assets/footer.svg');
  height: 400px;
}

.container-footer{
  max-width: 1580px;
  margin: 0 auto;
  padding: 7.5rem 0.125rem 0;

  display: flex;
  justify-content: space-between;
}

.logo-container{
  max-width: 620px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.375rem;
  padding: 0 1rem;
}

.logo-mihoyo{
  width: 9.375rem;
  height: 54px;
}

span{
  font-size: 3.375rem;
  font-weight: 400;
  color: #EFEAE2;
}

.copyright{
  width: 32.5rem;
}

h2{
  font-size: 1.125rem;
  font-weight: 600;
  color: #EFEAE2;
}

.description-footer{
  font-size: 0.875rem;
  font-weight: 400;
  color: #EFEAE2;
}

.term{
  max-width: 320px;
  margin: 0 auto;
  padding-top: 5.375rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav-term{
  color: #FFFFFF;
  font-size: 0.75rem;
  font-weight: 400;
}